<app-hardware-list-shell
  [loading]="loading()"
  [items]="items()"
  [filteredItems]="filteredItems()"
  [totalSpent]="totalSpent()"
  [searchQuery]="searchQuery()"
  statIcon="tv"
  emptyIcon="tv_off"
  i18nPrefix="consolesPage"
  [resolveModelName]="resolveModelName.bind(this)"
  [resolveBrandName]="resolveBrandName.bind(this)"
  [resolveStoreName]="resolveStoreName.bind(this)"
  [cardHeaderTpl]="cardHeaderTpl"
  [cardChipsTpl]="cardChipsTpl"
  (searchChange)="searchQuery.set($event)"
  (addClick)="onAdd()"
  (detailClick)="onDetail($any($event))">
</app-hardware-list-shell>

<ng-template #cardHeaderTpl>
  <mat-icon class="hw-list__card-icon">tv</mat-icon>
</ng-template>

<ng-template #cardChipsTpl let-console>
  <app-badge-chip
    [label]="
      (console.condition === GAME_CONDITION.NEW ? 'consolesPage.condition.new' : 'consolesPage.condition.used')
        | transloco
    "
    [variant]="console.condition === GAME_CONDITION.NEW ? 'new' : 'used'" />
  @if (console.region) {
    <app-badge-chip [label]="console.region" variant="neutral" />
  }
</ng-template>
