<div class="games">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="games__tabs">
    <a
      mat-tab-link
      routerLink="/games"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive
      #rlaOverview="routerLinkActive"
      [active]="rlaOverview.isActive">
      <mat-icon>home</mat-icon>
      <span class="games__tab-label">{{ 'gamesHub.tabOverview' | transloco }}</span>
    </a>

    <a mat-tab-link routerLink="/games/list" routerLinkActive #rlaGames="routerLinkActive" [active]="rlaGames.isActive">
      <mat-icon>sports_esports</mat-icon>
      <span class="games__tab-label">{{ 'gamesHub.tabGames' | transloco }}</span>
    </a>

    <a
      mat-tab-link
      routerLink="/games/consoles"
      routerLinkActive
      #rlaConsoles="routerLinkActive"
      [active]="rlaConsoles.isActive">
      <mat-icon>tv</mat-icon>
      <span class="games__tab-label">{{ 'gamesHub.tabConsoles' | transloco }}</span>
    </a>

    <a
      mat-tab-link
      routerLink="/games/controllers"
      routerLinkActive
      #rlaControllers="routerLinkActive"
      [active]="rlaControllers.isActive">
      <mat-icon>gamepad</mat-icon>
      <span class="games__tab-label">{{ 'gamesHub.tabControllers' | transloco }}</span>
    </a>
  </nav>

  <mat-tab-nav-panel #tabPanel class="games__content">
    <router-outlet />
  </mat-tab-nav-panel>
</div>
