<mat-card class="tools-card">
  <button mat-icon-button class="back-button" [routerLink]="['/']" aria-label="Go back">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-card-title>{{ 'tools.title' | transloco }}</mat-card-title>

  <mat-card-content>
    <p>{{ 'tools.description' | transloco }}</p>

    <div class="button-group">
      <button mat-flat-button color="primary" (click)="exportDatabaseAsJSON()">
        {{ 'tools.export' | transloco }}
      </button>

      <input type="file" accept="application/json" hidden #fileInput (change)="importGamesFromFile($event)" />
      <button mat-flat-button color="accent" (click)="handleImport(fileInput)">
        {{ 'tools.import' | transloco }}
      </button>

      <button mat-flat-button color="primary" type="submit" (click)="clearDatabase()">
        {{ 'tools.clear' | transloco }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
