@if (activeChips().length > 0) {
  <div class="filters-bar__chips">
    @for (chip of activeChips(); track chip.key) {
      <button
        type="button"
        class="filters-bar__chip"
        (click)="chip.onRemove()"
        [attr.aria-label]="'gameList.aria.clearFilters' | transloco">
        @if (chip.icon) {
          <app-lib-icon class="filters-bar__chip-icon" [name]="chip.icon" [style.color]="chip.iconColor || null" />
        }
        @if (chip.labelKey) {
          <span class="filters-bar__chip-label">{{ chip.labelKey | transloco }}</span>
        } @else {
          <span class="filters-bar__chip-label">{{ chip.label }}</span>
        }
        <app-lib-icon class="filters-bar__chip-close" name="close" />
      </button>
    }
    <button type="button" class="filters-bar__clear" (click)="data().clearAllFilters()">
      <app-lib-icon name="filter_alt_off" />
      <span>{{ 'gameList.empty.clearFilters' | transloco }}</span>
    </button>
  </div>
}
