<h2 mat-dialog-title>{{ config.title }}</h2>

<mat-dialog-content>
  <div class="crop-dialog__container">
    @if (!imageLoaded()) {
      <div class="crop-dialog__loading">
        <mat-spinner diameter="40" />
      </div>
    }
    <image-cropper
      [imageFile]="config.file"
      [aspectRatio]="config.aspectRatio"
      [roundCropper]="config.roundCropper"
      [maintainAspectRatio]="true"
      [resizeToWidth]="config.resizeToWidth"
      [imageQuality]="92"
      [allowMoveImage]="true"
      [hideResizeSquares]="true"
      [hidden]="!imageLoaded()"
      output="blob"
      format="jpeg"
      alignImage="center"
      (imageCropped)="onImageCropped($event)"
      (imageLoaded)="onImageLoaded()" />
  </div>
  <p class="crop-dialog__hint">{{ 'cropDialog.hint' | transloco }}</p>
</mat-dialog-content>

@if (imageLoaded()) {
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">{{ 'common.cancel' | transloco }}</button>
    <button mat-flat-button (click)="onConfirm()">{{ 'common.save' | transloco }}</button>
  </mat-dialog-actions>
}
