<div class="home-container">
  <h1>{{ 'home.title' | transloco }}</h1>

  <div class="card-grid">
    <mat-card [routerLink]="'/list'" class="home-card">
      <mat-card-title>
        <mat-icon>sports_esports</mat-icon>
        {{ 'home.viewCollection.title' | transloco }}
      </mat-card-title>
      <mat-card-content>
        <p>{{ 'home.viewCollection.description' | transloco }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="'/add'" class="home-card">
      <mat-card-title>
        <mat-icon>add_circle</mat-icon>
        {{ 'home.addGame.title' | transloco }}
      </mat-card-title>
      <mat-card-content>
        <p>{{ 'home.addGame.description' | transloco }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="'/tools'" class="home-card">
      <mat-card-title>
        <mat-icon>settings</mat-icon>
        {{ 'home.databaseTools.title' | transloco }}
      </mat-card-title>
      <mat-card-content>
        <p>{{ 'home.databaseTools.description' | transloco }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
