<div
  class="retro-form-field"
  [class.retro-form-field--focused]="focused()"
  [class.retro-form-field--invalid]="invalid()"
  [class.retro-form-field--disabled]="disabled()">
  <ng-content select="retro-label, [retroLabel]" />

  <div class="retro-form-field__control">
    <ng-content select="[retroPrefix]" />
    <ng-content />
    <ng-content select="[retroSuffix]" />
  </div>

  <div class="retro-form-field__subscript">
    @if (invalid()) {
      <ng-content select="retro-error, [retroError]" />
    } @else {
      <ng-content select="retro-hint, [retroHint]" />
    }
  </div>
</div>
