<h2 retroDialogTitle class="delete-user-dialog__title">
  <retro-icon class="delete-user-dialog__title-icon" name="warning" />
  <span>{{ 'management.users.delete.title' | transloco }}</span>
</h2>

<div retroDialogContent class="delete-user-dialog__content">
  <p class="delete-user-dialog__warning">
    {{ 'management.users.delete.warning' | transloco: { email: data.email } }}
  </p>

  <ul class="delete-user-dialog__bullets">
    <li>{{ 'management.users.delete.bullets.games' | transloco }}</li>
    <li>{{ 'management.users.delete.bullets.wishlist' | transloco }}</li>
    <li>{{ 'management.users.delete.bullets.hardware' | transloco }}</li>
    <li>{{ 'management.users.delete.bullets.orders' | transloco }}</li>
  </ul>

  <p class="delete-user-dialog__irreversible">
    {{ 'management.users.delete.irreversible' | transloco }}
  </p>

  <form [formGroup]="form" class="delete-user-dialog__form" (ngSubmit)="onConfirm()">
    <retro-input
      class="delete-user-dialog__field"
      [label]="'management.users.delete.field.label' | transloco"
      type="email"
      autocomplete="off"
      formControlName="emailConfirmation"
      [placeholder]="data.email"
      [hint]="'management.users.delete.field.hint' | transloco" />
  </form>
</div>

<footer retroDialogActions align="end" class="delete-user-dialog__actions">
  <retro-button [label]="'common.cancel' | transloco" variant="ghost" size="md" retroDialogClose />
  <retro-button
    [label]="'management.users.delete.confirm' | transloco"
    variant="danger"
    size="md"
    [disabled]="!canConfirm()"
    (clicked)="onConfirm()">
    <retro-icon slot="start" name="delete_forever" size="sm" />
  </retro-button>
</footer>
