<app-hardware-form-shell
  [loading]="loading()"
  [saving]="saving()"
  [isEditMode]="isEditMode()"
  i18nPrefix="controllerPage"
  [brands]="brands()"
  [models]="models()"
  [editions]="editions()"
  [filteredBrands]="filteredBrands()"
  [filteredModels]="filteredModels()"
  [filteredStores]="filteredStores()"
  [form]="form"
  [displayBrandLabel]="displayBrandLabel"
  [displayModelLabel]="displayModelLabel"
  [displayStoreLabel]="displayStoreLabel"
  [extraFieldsTpl]="extraFieldsTpl"
  (cancelClick)="onCancel()"
  (submitClick)="onSubmit()"
  (brandChange)="onBrandChange($event)"
  (modelChange)="onModelChange($event)">
</app-hardware-form-shell>

<ng-template #extraFieldsTpl>
  <div class="hw-form__color-field">
    <label class="hw-form__color-label">{{ 'controllerPage.color' | transloco }}</label>
    <div class="hw-form__color-wrapper">
      <input type="color" [formControl]="form.controls.color" class="hw-form__color-input" />
      <span class="hw-form__color-preview" [style.background-color]="form.controls.color.value"></span>
    </div>
  </div>

  <app-lib-form-field>
    <app-lib-label>{{ 'controllerPage.compatibility' | transloco }}</app-lib-label>
    <app-lib-select [formControl]="form.controls.compatibility">
      @for (compat of availableCompatibilities; track compat.code) {
        <app-lib-option [value]="compat.code">{{ compat.labelKey | transloco }}</app-lib-option>
      }
    </app-lib-select>
  </app-lib-form-field>
</ng-template>
