<app-hardware-list-shell
  [loading]="loading()"
  [items]="items()"
  [filteredItems]="filteredItems()"
  [totalSpent]="totalSpent()"
  [searchQuery]="searchQuery()"
  statIcon="gamepad"
  emptyIcon="gamepad"
  i18nPrefix="controllersPage"
  [resolveModelName]="resolveModelName.bind(this)"
  [resolveBrandName]="resolveBrandName.bind(this)"
  [resolveStoreName]="resolveStoreName.bind(this)"
  [cardHeaderTpl]="cardHeaderTpl"
  [cardChipsTpl]="cardChipsTpl"
  (searchChange)="searchQuery.set($event)"
  (addClick)="onAdd()"
  (detailClick)="onDetail($any($event))">
</app-hardware-list-shell>

<ng-template #cardHeaderTpl let-controller>
  <div class="hw-list__card-color" [style.background-color]="controller.color"></div>
</ng-template>

<ng-template #cardChipsTpl let-controller>
  <app-badge-chip [label]="controller.compatibility" variant="neutral" />
  <app-badge-chip
    [label]="
      (controller.condition === GAME_CONDITION.NEW ? 'controllersPage.condition.new' : 'controllersPage.condition.used')
        | transloco
    "
    [variant]="controller.condition === GAME_CONDITION.NEW ? 'new' : 'used'" />
</ng-template>
