<app-hardware-form-shell
  [loading]="loading()"
  [saving]="saving()"
  [isEditMode]="isEditMode()"
  i18nPrefix="consolePage"
  [brands]="brands()"
  [models]="models()"
  [editions]="editions()"
  [filteredBrands]="filteredBrands()"
  [filteredModels]="filteredModels()"
  [filteredStores]="filteredStores()"
  [form]="form"
  [displayBrandLabel]="displayBrandLabel"
  [displayModelLabel]="displayModelLabel"
  [displayStoreLabel]="displayStoreLabel"
  [extraFieldsTpl]="extraFieldsTpl"
  (cancelClick)="onCancel()"
  (submitClick)="onSubmit()"
  (brandChange)="onBrandChange($event)"
  (modelChange)="onModelChange($event)">
</app-hardware-form-shell>

<ng-template #extraFieldsTpl>
  <ng-container [formGroup]="form">
    <app-lib-form-field>
      <app-lib-label>{{ 'consolePage.region' | transloco }}</app-lib-label>
      <app-lib-select formControlName="region">
        <app-lib-option [value]="null">{{ 'consolePage.regionNone' | transloco }}</app-lib-option>
        @for (region of availableRegions; track region.code) {
          <app-lib-option [value]="region.code">{{ region.labelKey | transloco }}</app-lib-option>
        }
      </app-lib-select>
    </app-lib-form-field>
  </ng-container>
</ng-template>
