<app-hardware-form-shell
  [loading]="loading()"
  [saving]="saving()"
  [isEditMode]="isEditMode()"
  i18nPrefix="consolePage"
  [brands]="brands()"
  [models]="models()"
  [editions]="editions()"
  [filteredBrands]="filteredBrands()"
  [filteredModels]="filteredModels()"
  [filteredStores]="filteredStores()"
  [form]="form"
  [displayBrandLabel]="displayBrandLabel"
  [displayModelLabel]="displayModelLabel"
  [displayStoreLabel]="displayStoreLabel"
  [extraFieldsTpl]="extraFieldsTpl"
  (cancelClick)="onCancel()"
  (submitClick)="onSubmit()"
  (brandQuery)="onBrandQuery($event)"
  (modelQuery)="onModelQuery($event)"
  (storeQuery)="onStoreQuery($event)">
</app-hardware-form-shell>

<ng-template #extraFieldsTpl>
  <ng-container [formGroup]="form">
    <retro-select [label]="'consolePage.region' | transloco" formControlName="region">
      <retro-option [value]="null">{{ 'consolePage.regionNone' | transloco }}</retro-option>
      @for (region of availableRegions; track region.code) {
        <retro-option [value]="region.code">{{ region.labelKey | transloco }}</retro-option>
      }
    </retro-select>
  </ng-container>
</ng-template>
